    {% assign projects = site.projects %}

    {% for project in projects %}
      {% if project.topic == "game_development" %}
          <p>{{ project.title }}</p>
      {% endif %}
    {% endfor %}

li {
    border: 1px solid grey;
}


      <div class="card-body">
        <div class="h4 title">Game Development</div>
          {% for project in projects %}
            {% if project.topic == "game_development" %}
                <p>{{ project.title }}</p>
            {% endif %}
          {% endfor %}
      </div>
      <div class="card-body">
        <div class="h4 title">Miscellaneous</div>
          {% for project in projects %}
            {% if project.topic == "miscellaneous" %}
                <p>{{ project.title }}</p>
            {% endif %}
          {% endfor %}
      </div>
    </div>